PORT=<porta_da_api>

DB_HOST=<ip_do_banco_de_dados>
DB_PORT=<porta_do_banco_de_dados>
DB_USER=<usuario_do_banco_de_dados>
DB_PASSWORD=<senha_de_acesso_do_banco_de_dados>
DB_NAME=<nome_do_banco_de_dados>
